<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter By :</div>
            <div class='col-md-4'>
                <input type='text' 
                    [(ngModel)]='nameFilter'/>
            </div>
        </div>

        <div>
            <button class='btn btn-primary ' (click)='toggleFormat("B")'>
                {{formatFilter.includes('B') ? 'Hide' : 'Show'}} Bluray
            </button>
            <button class='btn btn-primary ' (click)='toggleFormat("D")'>
                {{formatFilter.includes('D') ? 'Hide' : 'Show'}} DVD
            </button>
            <br/>
            <br/>
        </div>

        <div>
            <table>
                <tr>
                    <td *ngFor='let category of categories'>
                        <button class='btn btn-primary ' (click)='toggleCategory(category.id)'>
                            {{category.name}}
                        </button>
                    </td>
                </tr>
            </table>

            <br/>
            <br/>
        </div>

        <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Format</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | productSearchFilter:nameFilter | productFormatFilter:formatFilter | productCategoryFilter:categoryFilter'>
                        <td>
                            <img *ngIf='product.show'
                                [src]='"./app/assets/images/" + product.iconUrl'
                                [title]='product.name'
                                [style.width.px]='imageWidth'
                                [style.margin.width]='imageMargin'/>
                        </td>
                        <td>
                            {{product.name}}
                        </td>
                        <td>{{product.categoryId | categoryDescriptionPipe:categories}}</td>
                        <td *ngIf='product.format=="D"'>
                            <img src="./app/assets/images/dvd.png" 
                                title="DVD"
                                style="width:80px;margin:2px"/>
                        </td>
                        <td *ngIf='product.format=="B"'>
                            <img src="./app/assets/images/bluray.png" 
                                title="Blu-ray"
                                style="width:80px;margin:2px"/>
                        </td>
                        <td>{{product.price | currency:'EUR' :true:'1.2-2'}}</td>
                        <td>{{product.stock}}</td>
                        <td>
                            <ai-star [rating]='product.rating' (ratingClicked)='onRatingClicked($event)'></ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>