<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Search Movies :</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='nameFilter' />
            </div>
        </div>

        <br/>

        <div>Select Genre of Movie: </div>
        <div>
            <span>
                <button class='btn btn-primary toggleButton' (click)='getMovieList("all")'>
                    All
                </button>
            </span>
            <span *ngFor='let genre of genres'>
                <button class='btn btn-primary toggleButton' (click)='getMovieList(genre.id)'>
                    {{genre.description}}
                </button>
            </span>
        </div>

        <br/>

        <div>
            Found {{movies.length}} movies for {{selectedGenre}} Genre{{selectedGenre == 'all' ? 's' : ''}}
        </div>

        <br/>

        <div>
            <button class='btn btn-primary' (click)='toggleFormat("U")'>
                {{formatFilter.includes('B') ? 'Hide' : 'Show'}} UHD
            </button>
            <button class='btn btn-primary' (click)='toggleFormat("B")'>
                {{formatFilter.includes('B') ? 'Hide' : 'Show'}} Bluray
            </button>
            <button class='btn btn-primary' (click)='toggleFormat("D")'>
                {{formatFilter.includes('D') ? 'Hide' : 'Show'}} DVD
            </button>
        </div>

        <br/>

        <div class='table-responsive'>
            <table class='table' *ngIf='movies && movies.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Format</th>
                        <th>Duration</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let movie of movies | movieSearchFilter:nameFilter | movieFormatFilter:formatFilter'>
                        <td>
                            <img *ngIf='movie.show' [src]='movie.imageUrl' [title]='movie.name' [style.width.px]='imageWidth' [style.margin.width]='imageMargin' />
                        </td>
                        <td>
                            <a [routerLink]="['/movies', movie.id]">
                                {{movie.id}} - {{movie.name}}
                            </a>
                        </td>
                        <td>{{movie.genreId | genreDescriptionPipe:genres}}</td>
                        <td *ngIf='movie.format=="D"'>
                            <img src="./app/assets/icons/dvd.png" title="DVD" style="width:80px;margin:2px" />
                        </td>
                        <td *ngIf='movie.format=="B"'>
                            <img src="./app/assets/icons/bluray.png" title="Blu-ray" style="width:80px;margin:2px" />
                        </td>
                        <td *ngIf='movie.format=="U"'>
                            <img src="./app/assets/icons/uhd.png" title="UHD Blur-ray" style="width:80px;margin:2px" />
                        </td>
                        <td>{{movie.duration | minutesToHoursPipe}}</td>
                        <td>
                            <ai-star [rating]='movie.rating' (ratingClicked)='onRatingClicked($event)'></ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>